body{
    background-color:white;
    color:black;
    overflow: hidden;
}
.site-header{
    position: relative;
}
.container-header{
    position:absolute;
    margin-right:auto;
    margin-left:5vw;
    margin-top: 70vh;
    width: 50%;
}
.site-logo{
    bottom:0;
    margin-left:0;
}
.site-logo-btn{
    filter:invert(100%);
    max-width: 50%;
}
.site-nav-menu{
    list-style: none;
    letter-spacing: 0.1em;
    padding-left:0;
}
.site-nav-menu li{
    display: inline-block;
}
.site-nav-menu li a{
    color:white;
    text-decoration: none;
    padding: 0.5em 0.5em;
    font-size:0.9rem;
    line-height: 2;
}
.index-content{
    background-image: url("../source/bg-index.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center;
    width:100%;
    height:100vh;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
    position:absolute;
    animation:opening 1.5s;
}

@keyframes opening{
    0%{
        transform: translate(0,40px);
        filter: opacity(0%);
    }
    100%{
        transform: translate(0,0);
        filter: opacity(100%);
    }
}

