body{
	
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height:100%;

}

body::after{
 content:"";
 background-color: black;
 opacity: 0.8;
 top:0;
 left:0;
 bottom:0;
 right:0;
 position: absolute;
 z-index: -1;
}	
header{
	padding-top:20px;
}
#logo{
 width:5%;
 margin-left:1%;
}
nav{
	display:inline-block;
	width:89%;
	color:white;
	
	text-align:right;
}
nav li{
	display:inline-block;
	margin-right:150px;
}
nav a{
	font-size:1.5em;
	text-decoration:none;
}



.booking-form-box{
	max-width: 1000px;
	width: 60%;
	min-height: 400px;
	max-height: 50%;

	margin: 10% auto 0;
	margin-top:100px;
}





.meja{
	background-color: white;
	height: 400px;
	width: 1000px;

}

.buttonmeja{
	max-width: 1000px;
	margin: 0px 0px 0px 0px;
	display:  inline-block;

}
